<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/stylesRegister.css">
        <link rel="stylesheet" href="/css/footerHeader.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
       <body>

        <%- include('./partials/header') %>
        
        <main>
            <form action="/register" method="POST" enctype="multipart/form-data">
              <h2>Register</h2>
              <label for="name">Ingrese su Nombre</label>
              <input class="controls" type="text" name="name" id="name" placeholder="Ingrese su Nombre" value="<%= locals.oldData ? oldData.name : null %>" required>
              <% if (locals.errors && errors.name) { %>
                <%= errors.name.msg %>
              <% } %>

              <label for="email">Ingrese su correo</label>
              <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Correo" value="<%= locals.oldData ? oldData.email : null%>" required>
              <% if (locals.errors && errors.email) { %>
                <%= errors.email.msg %>
              <% } %>

              <label for="password">Ingrese su Contraseña</label>
              <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña"  required>
              <% if (locals.errors && errors.password) { %>
                <%= errors.password.msg %>
              <% } %>

              <label for="profileimg">Imagen de perfil</label>
              <input type="file" name="profileimg" id="" required>
              <% if (locals.errors && errors.profileimg) { %>
                <%= errors.profileimg.msg %>
              <% } %>

              <div>
                <input type="checkbox" name="terminosYCondiciones" required>
                <label for="terminosYCondiciones">Acepto los terminos y condiciones</label>
              </div>

              <button class="botons" type="submit">Registrar</button>
            </form>

             <p><a href="/login">Ya tengo Cuenta</a></p>
        </main>

        <%- include('./partials/footer') %>

       </body>
</html>
