<div class="productContainer">
    <div class="cardContainer">
            <a href="/products/<%= producto.id %>">
                <img class="imgdestacado" src="<%=producto.centralImage%>" alt="<%= producto.name %>">
                <div class="nombre"><h5><%= producto.name %></h5></div>
                <div class="precio">$<%= producto.price %></div>
            </a>
    </div>
</div>